@import 'colors';
@import 'mixins';

.wrapper {
  padding-inline: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E5E4E2;
  padding-block: 16px;
  margin-bottom: 110px;
}

.listMenuMobile {
  display: none;
  position: absolute;
  // height of navbar component
  top: 65.5px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px 20px;
  background-color: white;
  width: 100%;
  z-index: 100;
}

.itemMenuMobile {
  border-bottom: 1px solid $secondaryBorderColor; 

  &Link {
    font-size: 17px;
    font-weight: 700;
    margin-top: 25px;
  }

  ul {
    margin-block: 30px;
  }

  ul li {
    list-style: none;
    padding-block: 4px;
    line-height: 25.5px;
  }
} 
.dowloadNotion {
  padding: 8px 16px;
  margin-bottom: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
  border: 1px solid $secondaryBorderColor;
  border-radius: 5px;
  transition: all 0.1s linear;

  &:hover {
    background-color: #EFEFEF; 
  }

  div {
    display: flex;
    align-items: center;
    padding: 4px;
  }

  span {
    font-size: 14px;
  }

  &Icon {
    margin-right: 4px;
    font-size: 24px;
  }
}

.leftBar {
  display: flex;
  align-items: center;
}

.menuList {
  margin-left: 30px;
  display: flex;
  align-items: center;
  padding: 0;
}

.menuItem {
  position: relative;
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 5px;
  transition: all 0.1s linear;

  .icon {
    margin-left: 2px;
  }

  &:hover {
  background-color: $mainHoverColor;
  }

  &Dropdown {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 250px;
    top: 100%;
    left: 0;
    border-radius: 5px;
    padding: 4px 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: white;
    border: 1px solid $secondaryBorderColor; 
    z-index: 100;
    transition: all 0.3s ease-in-out;
  }
}

.menuItemDropdownDownload {
  margin-block: 8px;
  display: flex;
  width: 100%;
  justify-content: center;
  border: 1px solid $secondaryBorderColor;
  border-radius: 5px;
  transition: all 0.1s linear;

  &:hover {
    background-color: #EFEFEF; 
  }

  div {
    display: flex;
    align-items: center;
    padding: 4px;
  }

  span {
    font-size: 14px;
  }

  &Icon {
    margin-right: 4px;
    font-size: 24px;
  }

  &Desc {
    color: $subtitleColor;
    display: inline-block;
    font-size: 14px;
    opacity: 0.8;
    font-weight: 400;
    padding-bottom: 4px;
  }
}

.menuItem:hover .menuItemDropdown{
    visibility: visible;
    opacity: 1;
}

.menuItemDropdown {
  &Section {
    display: block;
    padding: 4px;
    border-radius: 5px;
  }

  &Section:hover {
    background-color: $mainHoverColor;
  }

  &Title {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.4;
  }

  &Subtitle {
    font-size: 14px;
    color: $subtitleColor;
  }
}

.menuItemDropdownSection:not(:first-child) {
  margin-top: 4px;
}

.menuItem:hover {
  .icon {
    transform: rotate(180deg);
  }
}

.rightBar {
  display: flex;
  align-items: center;

  &Container {
    display: inline-block;
  }

  &MenuMobile {
    display: none;
    width: 25px;
    height: 25px;
    margin-left: 8px;
    //background-color: lightblue !important;

    .icon {
      font-weight: 900;
      width: 100%;
      height: 100%;
    }
  }

  &Link {
    font-weight: 500;
    font-size: 15px;
    padding: 4px 8px;
    border-radius: 5px;
    transition: all 0.1s linear;

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
}

.buttonSignup {
  background: $primaryColor;
  border: 1px solid $primaryColor;
  margin-left: 20px;
  color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 15px;
  border-radius: 5px;
  padding: 8px 12px;
  transition: all 0.1s linear;

  &:hover {
    background-color: #C74B50;
    border-color: #C74B50; 
  }
}

.hightlightVerticle {
  display: inline-block;
  background-color: $secondaryBorderColor;
  width: 1px;
  margin-inline: 8px;
  height: 20px;
  transform: translateY(5px);
}

// Media queries
@include desktop() {
  .menuList {
    display: none;
  }

  .rightBar {
    &Container {
    display: none;
    }

    &MenuMobile {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
    }
  }
}
