@import '_mixins.scss';

.container {
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

}

.card {
  width: calc(100% / 3);
  border: 1px solid #000;
  background-color: orange;
  height: 200px;
  text-align: center;
  
  @include desktop() {
    width: 50%;
  }

  @include mobile() {
    width: 100%;
  }
}
